<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reg-form</title>
</head>
<body>
  <H1>Registration </H1>
  <form  id="reg-form"action="">
    <input type="text" id="username" placeholder="Username">
    <input type="email" id="useremail" placeholder="Email">
    <input type="password" id="password" placeholder="Password">
    <input type="number" id="phonenumber" placeholder="Phone Number">
    <input type="text" id="stream" placeholder="Stream">
    <input type="number"id="Grade" placeholder="Grade">
    <input type="submit" value="submit form">
  </form>


  <script>
    const form= document.getElementById('reg-form');
    form.addEventListener('submit',registerUser);

    async function registerUser(event){
      event.preventDefault();
      const username=document.getElementById('username')
      const email=document.getElementById('useremail')
      const password=document.getElementById('password')
      const number=document.getElementById('phonenumber')
      const stream=document.getElementById('stream')
      const grade= document.getElementById('Grade')

      const result = await fetch('api/register',{
        method:"POST",
        headers:{
          'Content-Type':'application/json'
        },
        body:JSON.stringify({
          username,
          password,
          email,
          number,
          stream,
          grade
        }).then((res)=>res.json());
        console.log(result);
      })
  
    }
  </script>


</body>
</html>